# IS709 Assignment 5

### Due: January 17, Sunday-23.59

### Submission and Grading Policy

- Submit your assignments to the corresponding assignment link in https://odtuclass.metu.edu.tr.
- Solutions should be submitted in a single **ipynb** file named: metu-username_HW_4.ipynb (e.g., “e123456_HW_4.ipynb”).
- Late submissions will be accepted by January 20, 2021, 23:59 with a 5% per day penalty.
- **This is an individual assignment. You have to adhere to the academic integrity principles.**
- You are supposed to be able to interpret your findings. Hence, you shouldn't just find a number or result and just leave it. You need to comment on your findings by giving as much as **necessary** details.    

### Questions

**1.** Choose 4 attributes(except the target variable) and create missing values in the dataset. You can use the variations of the example code below or you can write your own method. Please set seeds differently for each attribute. Split data set as train, validation and test set with %60, %20, and %20, respectively by ensuring that your test dataset includes at least 20% missingness.
 > mis_data=data.copy()    
   np.random.seed(3)    
   indexes=np.random.choice(np.arange(len(data)),size=500, replace=False)   ##creates 500 missing value in x6
   mis_data.loc[indexes,"x6"]=np.nan  

**2.** Handle missing values by
- Median Imputation
- Mean Imputation  
Hint: Please see https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer and try to understand the difference between fit, fit_transform and transform.


IMPORTANT: You need to impute values based on the train set. You should use exactly the same test dataset for all cases. You shouldn't use test dataset to calculate the mean and median for imputation. 

**3.** Generate three decision tree classifier with n_depth= 2, 5, and 10 for each missing data handling methods. (Use same random state for each model)      
**4.** Compare the performance of models and handling methods using accuracy, F-score, and Matthews Correlation Coefficient. You are supposed to show them on train, validation, and test datasets.**Comment on the results.**

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_blobs, make_classification

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, plot_confusion_matrix, f1_score, matthews_corrcoef
from sklearn import tree
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data=pd.read_csv("assignment5_data.csv")
data.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,target
0,89.928122,47.333657,38.493059,25.170602,49.653597,33.536869,47.495184,38.275254,57.231522,77.955524,40.921663,40.823907,45.235546,156.925158,44.876672,1
1,131.196194,34.565087,38.308189,59.390869,52.600271,62.354667,55.347389,54.480157,57.870033,99.430021,40.303941,20.160162,31.481127,174.717207,48.448372,1
2,105.528030,36.260847,34.127072,54.098450,53.233415,71.433281,54.555814,54.613033,33.442843,87.513398,22.554406,62.796704,62.445574,164.580630,57.380851,0
3,85.604467,59.488252,48.477664,46.402088,43.340556,23.165613,58.229377,58.613100,56.934973,63.097926,58.812720,47.017412,44.054791,157.797649,53.563445,1
4,76.284973,41.917112,48.662443,50.021457,36.409432,61.766031,69.573629,55.872687,58.270545,229.454818,60.745562,34.186647,87.452087,143.815609,48.796708,0

## Q1.

In [3]:
mis_data=data.copy()    
np.random.seed(3)    
indexes=np.random.choice(np.arange(len(data)),size=500, replace=False)   ##creates 500 missing value in x6
mis_data.loc[indexes,"x6"]=np.nan 

np.random.seed(5)
indexes=np.random.choice(np.arange(len(data)),size=500, replace=False)
mis_data.loc[indexes,"x9"]=np.nan

np.random.seed(11)
indexes=np.random.choice(np.arange(len(data)),size=500, replace=False)
mis_data.loc[indexes,"x11"]=np.nan

np.random.seed(9)
indexes=np.random.choice(np.arange(len(data)),size=500, replace=False)
mis_data.loc[indexes,"x13"]=np.nan

In [4]:
x=mis_data.drop("target", axis=1)
y=mis_data["target"]
x_train, x_rest, y_train, y_rest = train_test_split(x,y, test_size=0.4, random_state=55)
x_valid, x_test, y_valid, y_test = train_test_split(x_rest,y_rest, test_size=0.5, random_state=38)
print(x_train.shape, x_valid.shape, x_test.shape, y_train.shape, y_valid.shape, y_test.shape )

(1200, 15) (400, 15) (400, 15) (1200,) (400,) (400,)

In [5]:
def report_missingness_percentages(data):
    for column in data.columns:
        if data[column].isnull().sum()>0:
            print(column, ">> missing nmuber:", data[column].isnull().sum())
            print(column, ">> missing percentage:", data[column].isnull().sum()/len(data))
            print("----")

In [6]:
report_missingness_percentages(x_train)

x6 >> missing nmuber: 302
x6 >> missing percentage: 0.25166666666666665
----
x9 >> missing nmuber: 299
x9 >> missing percentage: 0.24916666666666668
----
x11 >> missing nmuber: 299
x11 >> missing percentage: 0.24916666666666668
----
x13 >> missing nmuber: 299
x13 >> missing percentage: 0.24916666666666668
----

In [7]:
report_missingness_percentages(x_valid)

x6 >> missing nmuber: 110
x6 >> missing percentage: 0.275
----
x9 >> missing nmuber: 105
x9 >> missing percentage: 0.2625
----
x11 >> missing nmuber: 102
x11 >> missing percentage: 0.255
----
x13 >> missing nmuber: 112
x13 >> missing percentage: 0.28
----

In [8]:
report_missingness_percentages(x_test)

x6 >> missing nmuber: 88
x6 >> missing percentage: 0.22
----
x9 >> missing nmuber: 96
x9 >> missing percentage: 0.24
----
x11 >> missing nmuber: 99
x11 >> missing percentage: 0.2475
----
x13 >> missing nmuber: 89
x13 >> missing percentage: 0.2225
----

## Q2.
### Median Imputation

In [9]:
median = x_train.median()
median

x1      91.750120
x2      44.966546
x3      49.565371
x4      50.314263
x5      55.842027
x6      50.674264
x7      61.631105
x8      50.551624
x9      49.840901
x10     89.931465
x11     50.732281
x12     48.085851
x13     51.824862
x14    150.441618
x15     50.382094
dtype: float64

In [10]:
from sklearn.impute import SimpleImputer
x_train_med = x_train.copy()
x_valid_med = x_valid.copy()
x_test_med = x_test.copy()
imp_med = SimpleImputer(missing_values=np.nan, strategy='median')
imp_med.fit(x_train_med) ## traine göre fit edildi
x_train_med = imp_med.transform(x_train_med)
x_valid_med = imp_med.transform(x_valid_med)
x_test_med = imp_med.transform(x_test_med)
x_train_med= pd.DataFrame(x_train_med, columns=x.columns)
x_valid_med= pd.DataFrame(x_valid_med, columns=x.columns)
x_test_med= pd.DataFrame(x_test_med, columns=x.columns)
x_test_med.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
0,101.500618,46.203189,44.251962,56.231730,51.122794,63.322688,78.232568,60.734883,61.636451,86.243058,65.097595,49.267540,73.136900,177.892637,44.650173
1,103.486648,36.779899,59.437448,50.977582,35.390691,149.604929,43.954409,58.311426,48.140950,239.587014,36.840570,34.065368,51.824862,144.566033,67.631019
2,101.297145,41.690653,54.621916,66.516364,39.303283,47.653486,56.124551,33.646757,31.043744,99.303165,61.439882,58.785906,40.653415,126.860020,55.890084
3,62.136800,33.333232,27.226211,43.731402,97.373304,19.859086,42.897359,44.776099,29.739651,58.024034,66.141540,30.851454,37.858475,174.142314,51.342211
4,65.211084,47.669549,61.364222,37.242777,68.658756,50.674264,63.756567,58.448105,49.840901,107.034166,39.206208,39.283178,76.705467,152.351819,55.389685

In [11]:
x_test.head()  ## NAN values imputed by median values of training set >> look at X6,X9 and x13

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
1470,101.500618,46.203189,44.251962,56.231730,51.122794,63.322688,78.232568,60.734883,61.636451,86.243058,65.097595,49.267540,73.136900,177.892637,44.650173
818,103.486648,36.779899,59.437448,50.977582,35.390691,149.604929,43.954409,58.311426,48.140950,239.587014,36.840570,34.065368,NaN,144.566033,67.631019
1950,101.297145,41.690653,54.621916,66.516364,39.303283,47.653486,56.124551,33.646757,31.043744,99.303165,61.439882,58.785906,40.653415,126.860020,55.890084
812,62.136800,33.333232,27.226211,43.731402,97.373304,19.859086,42.897359,44.776099,29.739651,58.024034,66.141540,30.851454,37.858475,174.142314,51.342211
1747,65.211084,47.669549,61.364222,37.242777,68.658756,NaN,63.756567,58.448105,NaN,107.034166,39.206208,39.283178,76.705467,152.351819,55.389685

### Mean Imputation

In [12]:
x_train_mean = x_train.copy()
x_valid_mean = x_valid.copy()
x_test_mean = x_test.copy()
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(x_train_mean) ## traine göre fit edildi
x_train_mean = imp_mean.transform(x_train_mean)
x_valid_mean = imp_mean.transform(x_valid_mean)
x_test_mean = imp_mean.transform(x_test_mean)
x_train_mean= pd.DataFrame(x_train_mean, columns=x.columns)
x_valid_mean= pd.DataFrame(x_valid_mean, columns=x.columns)
x_test_mean= pd.DataFrame(x_test_mean, columns=x.columns)
x_test_mean.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15
0,101.500618,46.203189,44.251962,56.231730,51.122794,63.322688,78.232568,60.734883,61.636451,86.243058,65.097595,49.267540,73.136900,177.892637,44.650173
1,103.486648,36.779899,59.437448,50.977582,35.390691,149.604929,43.954409,58.311426,48.140950,239.587014,36.840570,34.065368,51.863004,144.566033,67.631019
2,101.297145,41.690653,54.621916,66.516364,39.303283,47.653486,56.124551,33.646757,31.043744,99.303165,61.439882,58.785906,40.653415,126.860020,55.890084
3,62.136800,33.333232,27.226211,43.731402,97.373304,19.859086,42.897359,44.776099,29.739651,58.024034,66.141540,30.851454,37.858475,174.142314,51.342211
4,65.211084,47.669549,61.364222,37.242777,68.658756,53.718710,63.756567,58.448105,49.896149,107.034166,39.206208,39.283178,76.705467,152.351819,55.389685

In [13]:
x_train.mean()  ## NAN values imputed by mean values of training set >> look at X6,X9 and x13

x1      92.101217
x2      45.021354
x3      49.764334
x4      50.494610
x5      56.014529
x6      53.718710
x7      61.551477
x8      50.463478
x9      49.896149
x10    105.289118
x11     50.215892
x12     50.321815
x13     51.863004
x14    150.845908
x15     50.247348
dtype: float64

## Q3.

In [15]:
records=pd.DataFrame(columns=["method","max_depth","metric", "train", "valid", "test"])
records

Empty DataFrame
Columns: [method, max_depth, metric, train, valid, test]
Index: []

In [16]:
random_state=3
print("Hyperparameter tuning with median imputation")
dec_tree_clf_1 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=2)
dec_tree_clf_1.fit(x_train_med, y_train)
y_pred_dt_1_train = dec_tree_clf_1.predict(x_train_med)
y_pred_dt_1_val = dec_tree_clf_1.predict(x_valid_med)
y_pred_dt_1_test = dec_tree_clf_1.predict(x_test_med)

records.loc[0]=["median","2","accuracy", accuracy_score(y_train, y_pred_dt_1_train), accuracy_score(y_valid, y_pred_dt_1_val), accuracy_score(y_test,y_pred_dt_1_test) ]
records.loc[1]=["median","2","F-score", f1_score(y_train, y_pred_dt_1_train), f1_score(y_valid, y_pred_dt_1_val), f1_score(y_test,y_pred_dt_1_test) ]
records.loc[2]=["median","2","mcc", matthews_corrcoef(y_train, y_pred_dt_1_train), matthews_corrcoef(y_valid, y_pred_dt_1_val), matthews_corrcoef(y_test,y_pred_dt_1_test) ]

###################################

dec_tree_clf_2 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=5)
dec_tree_clf_2.fit(x_train_med, y_train)
y_pred_dt_2_train = dec_tree_clf_2.predict(x_train_med)
y_pred_dt_2_val = dec_tree_clf_2.predict(x_valid_med)
y_pred_dt_2_test = dec_tree_clf_2.predict(x_test_med)
records.loc[3]=["median","5","accuracy", accuracy_score(y_train, y_pred_dt_2_train), accuracy_score(y_valid, y_pred_dt_2_val), accuracy_score(y_test,y_pred_dt_2_test) ]
records.loc[4]=["median","5","F-score", f1_score(y_train, y_pred_dt_2_train), f1_score(y_valid, y_pred_dt_2_val), f1_score(y_test,y_pred_dt_2_test) ]
records.loc[5]=["median","5","mcc", matthews_corrcoef(y_train, y_pred_dt_2_train), matthews_corrcoef(y_valid, y_pred_dt_2_val), matthews_corrcoef(y_test,y_pred_dt_2_test) ]


###################################
dec_tree_clf_3 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=10)
dec_tree_clf_3.fit(x_train_med, y_train)
y_pred_dt_3_train = dec_tree_clf_3.predict(x_train_med)
y_pred_dt_3_val = dec_tree_clf_3.predict(x_valid_med)
y_pred_dt_3_test = dec_tree_clf_3.predict(x_test_med)

records.loc[6]=["median","10","accuracy", accuracy_score(y_train, y_pred_dt_3_train), accuracy_score(y_valid, y_pred_dt_3_val), accuracy_score(y_test,y_pred_dt_3_test) ]
records.loc[7]=["median","10","F-score", f1_score(y_train, y_pred_dt_3_train), f1_score(y_valid, y_pred_dt_3_val), f1_score(y_test,y_pred_dt_3_test) ]
records.loc[8]=["median","10","mcc", matthews_corrcoef(y_train, y_pred_dt_3_train), matthews_corrcoef(y_valid, y_pred_dt_3_val), matthews_corrcoef(y_test,y_pred_dt_3_test) ]


records

Hyperparameter tuning with median imputation

   method max_depth    metric     train     valid      test
0  median         2  accuracy  0.804167  0.767500  0.815000
1  median         2   F-score  0.794760  0.754617  0.820388
2  median         2       mcc  0.608586  0.540768  0.633758
3  median         5  accuracy  0.901667  0.862500  0.895000
4  median         5   F-score  0.901830  0.864865  0.900474
5  median         5       mcc  0.804180  0.724927  0.790488
6  median        10  accuracy  0.988333  0.812500  0.835000
7  median        10   F-score  0.988115  0.815725  0.839024
8  median        10       mcc  0.976664  0.624895  0.674866

In [17]:
print("Hyperparameter tuning with mean imputation")
dec_tree_clf_4 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=2)
dec_tree_clf_4.fit(x_train_mean, y_train)
y_pred_dt_4_train = dec_tree_clf_4.predict(x_train_mean)
y_pred_dt_4_val = dec_tree_clf_4.predict(x_valid_mean)
y_pred_dt_4_test = dec_tree_clf_4.predict(x_test_mean)

records.loc[9]=["mean","2","accuracy", accuracy_score(y_train, y_pred_dt_4_train), accuracy_score(y_valid, y_pred_dt_4_val), accuracy_score(y_test,y_pred_dt_4_test) ]
records.loc[10]=["mean","2","F-score", f1_score(y_train, y_pred_dt_4_train), f1_score(y_valid, y_pred_dt_4_val), f1_score(y_test,y_pred_dt_4_test) ]
records.loc[11]=["mean","2","mcc", matthews_corrcoef(y_train, y_pred_dt_4_train), matthews_corrcoef(y_valid, y_pred_dt_4_val), matthews_corrcoef(y_test,y_pred_dt_4_test) ]

###################################

dec_tree_clf_5 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=5)
dec_tree_clf_5.fit(x_train_mean, y_train)
y_pred_dt_5_train = dec_tree_clf_5.predict(x_train_mean)
y_pred_dt_5_val = dec_tree_clf_5.predict(x_valid_mean)
y_pred_dt_5_test = dec_tree_clf_5.predict(x_test_mean)

records.loc[12]=["mean","5","accuracy", accuracy_score(y_train, y_pred_dt_5_train), accuracy_score(y_valid, y_pred_dt_5_val), accuracy_score(y_test,y_pred_dt_5_test) ]
records.loc[13]=["mean","5","F-score", f1_score(y_train, y_pred_dt_5_train), f1_score(y_valid, y_pred_dt_5_val), f1_score(y_test,y_pred_dt_5_test) ]
records.loc[14]=["mean","5","mcc", matthews_corrcoef(y_train, y_pred_dt_5_train), matthews_corrcoef(y_valid, y_pred_dt_5_val), matthews_corrcoef(y_test,y_pred_dt_5_test) ]


###################################
print("------------------------------------------")
dec_tree_clf_6 = tree.DecisionTreeClassifier( random_state=random_state, max_depth=10)
dec_tree_clf_6.fit(x_train_mean, y_train)
y_pred_dt_6_train = dec_tree_clf_6.predict(x_train_mean)
y_pred_dt_6_val = dec_tree_clf_6.predict(x_valid_mean)
y_pred_dt_6_test = dec_tree_clf_6.predict(x_test_mean)

records.loc[15]=["mean","10","accuracy", accuracy_score(y_train, y_pred_dt_6_train), accuracy_score(y_valid, y_pred_dt_6_val), accuracy_score(y_test,y_pred_dt_6_test) ]
records.loc[16]=["mean","10","F-score", f1_score(y_train, y_pred_dt_6_train), f1_score(y_valid, y_pred_dt_6_val), f1_score(y_test,y_pred_dt_6_test) ]
records.loc[17]=["mean","10","mcc", matthews_corrcoef(y_train, y_pred_dt_6_train), matthews_corrcoef(y_valid, y_pred_dt_6_val), matthews_corrcoef(y_test,y_pred_dt_6_test) ]

Hyperparameter tuning with mean imputation
------------------------------------------

In [19]:
records[records["metric"]=="accuracy"].sort_values(by=["valid"], ascending=False)

    method max_depth    metric     train   valid    test
3   median         5  accuracy  0.901667  0.8625  0.8950
12    mean         5  accuracy  0.889167  0.8375  0.8975
6   median        10  accuracy  0.988333  0.8125  0.8350
15    mean        10  accuracy  0.987500  0.8075  0.8750
0   median         2  accuracy  0.804167  0.7675  0.8150
9     mean         2  accuracy  0.795833  0.7300  0.7950

In [20]:
records[records["metric"]=="accuracy"].sort_values(by=["test"], ascending=False)

    method max_depth    metric     train   valid    test
12    mean         5  accuracy  0.889167  0.8375  0.8975
3   median         5  accuracy  0.901667  0.8625  0.8950
15    mean        10  accuracy  0.987500  0.8075  0.8750
6   median        10  accuracy  0.988333  0.8125  0.8350
0   median         2  accuracy  0.804167  0.7675  0.8150
9     mean         2  accuracy  0.795833  0.7300  0.7950

#### 
Changing max depth can be considered as hyperparameter tuning. That's why we look at the validation set of metric performances when choosing between models.    

It can be said that the best performance is obtained when max_depth=5 by looking at accuracy scores, f1-scores, and mcc of the validation set (all metric scores of validation set reached the highest when max depth=5). Also by comparing  train and test metric scores, we can say that 
- model overfits when max_depth=10 (train set scores are very high but test scores are low compared to them.)
- and model underfits when max_depth=2

In [21]:
records[records["metric"]=="F-score"].sort_values(by=["valid"], ascending=False)

    method max_depth   metric     train     valid      test
4   median         5  F-score  0.901830  0.864865  0.900474
13    mean         5  F-score  0.893344  0.848485  0.907449
7   median        10  F-score  0.988115  0.815725  0.839024
16    mean        10  F-score  0.987320  0.810811  0.882075
1   median         2  F-score  0.794760  0.754617  0.820388
10    mean         2  F-score  0.798685  0.737864  0.810185

In [22]:
records[records["metric"]=="F-score"].sort_values(by=["test"], ascending=False)

    method max_depth   metric     train     valid      test
13    mean         5  F-score  0.893344  0.848485  0.907449
4   median         5  F-score  0.901830  0.864865  0.900474
16    mean        10  F-score  0.987320  0.810811  0.882075
7   median        10  F-score  0.988115  0.815725  0.839024
1   median         2  F-score  0.794760  0.754617  0.820388
10    mean         2  F-score  0.798685  0.737864  0.810185

In [23]:
records[records["metric"]=="mcc"].sort_values(by=["valid"], ascending=False)

    method max_depth metric     train     valid      test
5   median         5    mcc  0.804180  0.724927  0.790488
14    mean         5    mcc  0.784257  0.678887  0.793990
8   median        10    mcc  0.976664  0.624895  0.674866
17    mean        10    mcc  0.975062  0.614892  0.749801
2   median         2    mcc  0.608586  0.540768  0.633758
11    mean         2    mcc  0.593445  0.459843  0.587359

In [24]:
records[records["metric"]=="mcc"].sort_values(by=["test"], ascending=False)

    method max_depth metric     train     valid      test
14    mean         5    mcc  0.784257  0.678887  0.793990
5   median         5    mcc  0.804180  0.724927  0.790488
17    mean        10    mcc  0.975062  0.614892  0.749801
8   median        10    mcc  0.976664  0.624895  0.674866
2   median         2    mcc  0.608586  0.540768  0.633758
11    mean         2    mcc  0.593445  0.459843  0.587359