- The summary of what we have done in week 2 and part of week 3 


- The series is one of the core data structures in pandas. 
- You think of it a cross between a list and a dictionary. 
- Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

### Series

#### Indexing Series

In [1]:
# Let's import pandas to get started
import pandas as pd #series and dataframe
import numpy as np #Arrays

In [ ]:

students = ['Alice', 'Jack', 'Molly']
a = pd.Series(students)
a

In [ ]:
type(a)

In [ ]:
for i in a:
    print(i)

In [ ]:
 
numbers = [1, 2, 3]
pd.Series(numbers)

#### Dealing with Missing data

In [ ]:

students = ['Alice', 'Jack', None]
a = pd.Series(students)
a

In [ ]:
# None with numbers
numbers = [1, 2, None]
# And turn that into a series
numbers_series = pd.Series(numbers)
numbers_series

In [ ]:
np.nan

In [ ]:
numbers_series[2] == np.nan #this is not the correct way to check this.

In [ ]:


# NaN is *NOT* equivilent to None and when we try the equality test, the result is False.

# Lets bring in numpy which allows us to generate an NaN value
import numpy as np
# And lets compare it to None
np.nan == None

In [ ]:
# It turns out that you actually can't do an equality test of NAN to itself. When you do, 
# the answer is always False. 

np.nan == np.nan #INCorrect way

In [ ]:
np.isnan(np.nan) #The correct way

In [ ]:
np.isnan(numbers_series[2])

#### Series to dictionaries

In [ ]:
students_scores = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English'}
s = pd.Series(students_scores)
s

In [ ]:
#OR:
s = pd.Series(['Physics', 'Chemistry', 'English'], index=['Alice', 'Jack', 'Molly'])
s

In [ ]:
# Once the series has been created, we can get the index object using the index attribute.

s.index

In [ ]:
# Lets create a more complex type of data, say, a list of tuples.
students = [("Alice","Brown"), ("Jack", "White"), ("Molly", "Green")]
s2 = pd.Series(students)
s2

In [ ]:
for i in s2:
    for j in i:
        for k in j:
            print(k)

In [ ]:

students_scores = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English'}
# I create a series from the above dictionary but added another guy called Sam. 

s = pd.Series(students_scores, index=[ 'Molly', 'Sam', 'Mehmet','Jack'])
s

#### Querying Series

In [15]:
import pandas as pd
students_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [ ]:
students_classes['Alice']

In [ ]:
s[0]

In [16]:
s.iloc[2]

'English'

In [ ]:
s.loc[0]

In [17]:
s.loc["Alice"]

'Physics'

In [ ]:
s[0] ## = s.iloc[0]

In [ ]:
s["Alice"] ## = s.loc["Alice"]

In [ ]:
class_code = {3: 'Physics',
              4: 'Chemistry',
              5: 'English',
              6: 'History'}
s = pd.Series(class_code)
s

In [ ]:
s.loc[3] #==>error. Hence be careful. Use loc and iloc wherever it's possible.

In [ ]:
s = pd.Series([1, 2, 3])
s

In [ ]:
# We could add some new value, maybe a university course
s.loc['History'] = "102.2"

s

### Not-unique index values:

In [ ]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

In [ ]:
dict1 = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}
students_classes = pd.Series(dict1)

all_students_classes = students_classes.append(kelly_classes)

# This creates a series which has our original people in it as well as all of Kelly's courses
all_students_classes

### Faster Built in operations : VECTORIZATION

In [11]:
numbers = pd.Series(np.random.randint(0,1000,10000))#generate random numbers
numbers.head()

0    865
1    280
2    836
3    586
4    377
dtype: int32

In [12]:
len(numbers)

10000

In [13]:
%%timeit -n 100 # a magic function that runs the code 100 times and keeps track of the duration. 
# it should be on the first line in order to use it.
# I will calculate the average of a list using two different ways...
numbers = np.random.rand(100000) 
total = 0
for number in numbers:
    total+=number

total/len(numbers)

17.4 ms ± 3.56 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%%timeit -n 100
numbers = np.random.rand(100000)
total = np.sum(numbers) #it uses vectorization
total/len(numbers)

754 µs ± 33.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
# %%timeit -n 100
numbers = numbers  +  2 # error due to timeit