In [ ]:
#L1 Combine ser1 and ser2 to form a dataframe.  

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
#Give a name to the series ser calling it ‘alphabets’. 
#Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz')

In [ ]:
# L1 Reshape the series ser into a dataframe with 7 rows and 5 columns 

ser = pd.Series(np.random.randint(1, 10, 35))

In [ ]:
#Apply the function, f(x) = x/2 on each and every element of a given pandas series 
# using lambda function

In [ ]:
# sort the following df by its id and then by its index
'''
    id  name    age   occupation
0   2   Vinay   22    engineer
1   1  Kushal   25      doctor
2   1    Aman   24  accountant
'''

In [ ]:
# FOr the same df, Find the entries that has an age gretar than 23

In [ ]:
'''
     name       occ  salary
0   Vinay  engineer   60000
1  Kushal    doctor   70000
2    Aman  engineer   50000
3   Rahul    doctor   60000
4  Ramesh    doctor   65000
'''
# Given is a dataframe showing name, occupation, salary of people. 
# Find the average salary per occupation

In [ ]:
'''
     name       occ   salary
0   Vinay  engineer      NaN
1  Kushal    doctor  70000.0
2    Aman  engineer      NaN
3   Rahul    doctor  60000.0
4  Ramesh    doctor  65000.0
'''
# fill the NaN values with 0

In [ ]:
'''
                cname  profit
0         Shyam & Co.  -10000
1      Ramlal & Bros.   10000
2  Sharma Enterprises   -5000
3    Verma Furnitures   15000
4        Rahul Stores   20000

Given is a dataframe showing Company Names (cname) and corresponding Profits (profit). 
Convert the values of Profit column such that values in it greater than 0 
are set to True and the rest are set to False.
'''

In [ ]:
'''
   eid   ename  stipend         position
0    1     Sid    10000         employee
1    2  Ramesh    10000         employee
2    3     Ron     5000           intern
3    4   Harry    15000  senior_employee
'''
#For the table above, generate the statistical summary of all the numerical features

In [ ]:

import numpy as np
import math

#Read the csv file using the following code. 

Admission = pd.read_csv("datasets/Admission_Predict.csv", delimiter=",", header=0)
Admission

# List  first 10 rows

# List the GRE Score of all students. 

# list GRE and TOEFL scores of all students 

# Normalize the GRE scores so that they are between 0 and 100 and add this as another column
##### note that this should be another dataframe, don't change the original one. 

# Normalize the CGPA such that the values are between 0 and 4 and add this as another column.
###### again, don't change the original one. 

# In the revised data frame, drop the old (unnormalized) CGPA columns and old (unnormalized) GRE score 
#### columns. 

# List those whose CGPA is higher than 0.50. 

# Find the average of CGPA for those whose chance of admit is higher than 0.50

# Print the average CGPA for those  whose chance of admit is higher than 0.50 and university rating is 
##### 1 or 2. 

# Generate a new column called results. For those whose chance of admit is greater than 0.80, 
##### if their CGPA (normalized) is higher than 3.5 then the results column should be "Pass"
##### and the others should be "Fail".