---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Python Programming Language: Functions

In [5]:
x = 1
y = 2
print(x)
print(y)

1
2

In [ ]:
y

In [6]:
i= 14
j=5
i+j
i-j
i*j
i/j

2.8

In [ ]:
print(i//j) #integer division , i.e., no remainder
i!=j #non equality check
i==j #equality check

In [7]:
print(i//j)

2

In [8]:
# Logic Operators
a = True
b = False
not a # returns true if a is false. 
a and b
a or b

True

In [ ]:
i%j #gives the remainder

In [9]:
not a

False

## Conditioning

In [12]:
x = int(input('Please enter an integer:'))

if x%2 == 0:
    print('The number', x, "is even")
else:
    print('The number', x, "is odd")

    print('Here is the end of the code')

Please enter an integer:3
The number 3 is odd
Here is the end of the code

In [16]:
x = int(input('Please enter an integer:'))

if x%2 == 0:
    if x%3 ==0:
        print('The number', x, 'is divisible by 2 and 3')
    else:
        
        print('The number', x, 'is divisible by 2 and not by 3')
elif x%3 ==0: # you may continue with if conditions with elif command
    
        print('The number', x, 'is divisible by 3 and not by 2')

Please enter an integer:120
The number 120 is divisible by 2 and 3

In [ ]:
x=float(input('Enter a number for x:'))
y=float(input('Enter a number for y:'))
z=float(input('Enter a number for z:'))

if x < y and x < z:
    print('x is the least')
elif y < z:
    print('y is the least')
else:
    print('z is the least')

## LOOPS

### while

In [17]:
n = 0
while n<5:
    print(n)
    n = n+1

0
1
2
3
4

In [18]:
x = int(input("Please press 1\n"))

while (x != 1):
    x = int(input("well, it's not 1. Please press 1\n"))
print("That's correct")

Please press 1
2
well, it's not 1. Please press 1
3
well, it's not 1. Please press 1
4
well, it's not 1. Please press 1
5
well, it's not 1. Please press 1
6
well, it's not 1. Please press 1
1
That's correct

## for

In [20]:
for i in range(0,11,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
#break
mysum = 0
for i in range(5,11,2): # 5 7 9
    mysum +=i
    if mysum >10:
        break
print(mysum)

12

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [23]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
'add_numbers' updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [24]:
def add_numbers(x,y,z = None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [25]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

In [27]:
#SCOPE is important.

# inside a function, 
# Can access (print for ex.) a variable defined outside. 
# CanNOT modify a variable defined outside
 

def f(y):
    x=1
    x+=4 # x=5
    print(x)

x='mehmet'
f(x)
print(x)

5
mehmet

In [28]:
def g(y):
    #no x here
    print(x*3)
    
x= 'mehmet' 
g(x)
print(x)

mehmetmehmetmehmet
mehmet

In [29]:
def h(y):
    #no x inside!
    x = x+1
x = 5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [30]:
type('This is a string')

str

In [33]:
x = True
type(x)

bool

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

# There are three object types:
__tuples
__lists
__dictionaries


## Tuples 
Tuples are an "immutable" data structure (cannot be altered) once created.

Defined by ordinary paranthesis. 

Accessed by square brackets.

In [34]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [35]:
x[1]

'a'

In [36]:
t1 = (1,)
print(type(t1))
t2=(1)
print(type(t2))

<class 'tuple'>
<class 'int'>

In [37]:
t1 = (1,2,3)
t2 = (5,6,7)
t3 = t1 + t2
t4 = (t1,t2)

print(t3)
print(t4)

(1, 2, 3, 5, 6, 7)
((1, 2, 3), (5, 6, 7))

In [39]:
t4[0]

(1, 2, 3)


## Lists 
Lists are a mutable data structure. 

Declared by square brackets.

Accessed by square brackets.

In [41]:
x = [1, 'a', 2, 'b']
x2 = (1, 'a', 2, 'b')

print(type(x))
print(type(x2))

<class 'list'>
<class 'tuple'>

In [43]:
x2[0]

1

<br>
Use `append` to append an object to a list.

In [44]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

#### Both tuples and lists are iterable!!!

<br>
This is an example of how to loop through each item in the list.

In [46]:
for i in range(len(x)):
    print(i,x[i])

0 1
1 a
2 2
3 b
4 3.3

In [47]:



for i in x:
    print(i)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [48]:
[1]*3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [52]:
[4,5] in [1, 2, 3,[4,5]]

True

In [53]:
L1 = [4,3,2,1]
for i in L1:
    print(i)
L2 = [11,12,13]

4
3
2
1

In [54]:
L1.extend(L2) #what's the difference between append? 
L1 #L1 + L2

[4, 3, 2, 1, 11, 12, 13]

In [55]:
L1.append(L2)
L1

[4, 3, 2, 1, 11, 12, 13, [11, 12, 13]]

In [56]:
del(L1[4])
L1

[4, 3, 2, 1, 12, 13, [11, 12, 13]]

In [57]:
L1.pop()
L1

[4, 3, 2, 1, 12, 13]

In [58]:
L1.remove(13)
L1

[4, 3, 2, 1, 12]

In [59]:
sorted(L1)

[1, 2, 3, 4, 12]

In [60]:
L1

[4, 3, 2, 1, 12]

In [61]:
L1.sort() #mutates the list
L1

[1, 2, 3, 4, 12]

### ALIASING and CLONING
__Lists are tricky.__
__Should be careful when copying them__

In [63]:
a = 5
b = a
b = 3
print(a)
print(b)

5
3

In [62]:
L1 = ['a','b','c']
L2 = L1
L2

['a', 'b', 'c']

In [64]:
L2[0] = 0

In [65]:
print(L2)

[0, 'b', 'c']

In [66]:
print(L1)

[0, 'b', 'c']

In [ ]:
????

In [69]:
# CLONING
L3 = L1[:] 
print(L1)
print(L3)

[0, 'b', 'c']
[0, 'b', 'c']

In [70]:
L3.append(12)

In [71]:
L3

[0, 'b', 'c', 12]

In [72]:
print(L3)
print(L1)

[0, 'b', 'c', 12]
[0, 'b', 'c']

## Strings

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [74]:
x = 'This is a string'

print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:5]) #first two characters

T
T
This

<br>
This will return the last element of the string.

In [75]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [76]:
x[-4:-2] # -2 means the second from the end.

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [77]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [78]:
x[3:]

's is a string'

In [79]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [80]:

'ahmet'.split('m')

['ah', 'et']

In [81]:
'ahmet'.split('m')[0]

'ah'

In [82]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

<br>
Make sure you convert objects to strings before concatenating.

In [83]:
'Chris' + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
'Chris' + str(2)

In [84]:
'abcde'[ : :-1] 
#start from the first input and go to left
# with a step size of one.

'edcba'

In [85]:
'abcde'[0:3:-1] #what is the output?

''

In [86]:
'abcde'[3:0:-1] #what is the output?

'dcb'

In [88]:
s1 = "hello world"
'hello' in s1 #checks whether a string is inside another one

True

In [89]:
s1[0] = "a" # immutable

TypeError: 'str' object does not support item assignment

### they are iterable!

In [90]:

# they are iterable. 
str1 = "YTU IE"

for i in range(len(str1)):
    print(i, str1[i])

0 Y
1 T
2 U
3
4 I
5 E

In [91]:
for i in str1:
    print(i)

Y
T
U

I
E

## Dictionaries

<br>
Dictionaries associate keys with values.

In [92]:
x = {'mehmet guler': 'mgguler@yildiz.edu.tr', 'Bill Gates': 'billg@microsoft.com'}
x['mehmet guler'] # Retrieve a value by using the indexing operator

'mgguler@yildiz.edu.tr'

In [94]:
x['Bill Gates']

'billg@microsoft.com'

In [98]:
x['bahadir gulsun'] = "gulsun@yildiz.edu.tr"
x['bahadir gulsun']
x

{'mehmet guler': 'mgguler@yildiz.edu.tr',
 'Bill Gates': 'billg@microsoft.com',
 'bahadir gulsun': 'gulsun@yildiz.edu.tr'}

<br>
Iterate over all of the keys:

In [102]:
for i in x:
    print("i is ", i,"and x[i] is", x[i])

i is  mehmet guler and x[i] is mgguler@yildiz.edu.tr
i is  Bill Gates and x[i] is billg@microsoft.com
i is  bahadir gulsun and x[i] is gulsun@yildiz.edu.tr

<br>
Iterate over all of the values:

In [103]:
for j in x.values():
    print(j)

mgguler@yildiz.edu.tr
billg@microsoft.com
gulsun@yildiz.edu.tr

<br>
Iterate over all of the items in the list:

In [104]:
# defined by curly brackets
# retrived by square brackets
grades = {'mehmet': 80, 'ali':75, 'ayse':90}
grades

{'mehmet': 80, 'ali': 75, 'ayse': 90}

In [105]:
#check whether a key exists
'mehmet' in grades

True

In [106]:
# add a new value
grades['doruk'] = 43
grades

{'mehmet': 80, 'ali': 75, 'ayse': 90, 'doruk': 43}

In [107]:
#iterable
for i in grades:
    print(i)

mehmet
ali
ayse
doruk

In [108]:
#iterable
for i in grades.keys():
    print(i)

mehmet
ali
ayse
doruk

In [ ]:
#iterable
for i in grades.values():
    print(i)

In [109]:
 #iterable

for name, grade in grades.items():
    print(name)
    print(grade)

mehmet
80
ali
75
ayse
90
doruk
43

In [110]:
del(grades['mehmet'])
grades

{'ali': 75, 'ayse': 90, 'doruk': 43}

<br>
You can unpack a sequence into different variables:

In [111]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [112]:
fname

'Christopher'

In [113]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [116]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email, adress = x
adress

'Ann Arbor'

# The Python Programming Language: More on Strings

In [ ]:
print('Chris' + 2)

In [ ]:
print('Chris' + str(2))

## using format() for strings
<br>
Python has a built in method for convenient string formatting.

In [118]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'


print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [120]:
print(sales_statement.format(1,
                             3,
                             5,
                             3*5-2))

1 bought 3 item(s) at a price of 5 each for a total of 13

 # Lambda functions and map() functions and list comprehensions.

## lambda functions

In [122]:
def myfunc2(x):
    return x*x

#short way of writing functions
myfunc = lambda x: x*x*x*x
myfunc(2)

16

In [123]:
f2 = lambda s: s[::-1]
f2('hello world')

'dlrow olleh'

In [124]:
f3 = lambda x1,x2,x3: (x1+x2+x3)/3
f3(1,2,3)

2.0

## map()

In [125]:
def take_square(x):
    return x**2

take_square(3)

9

In [145]:
map1 = map(take_square,[2,3,4])  #returns an iterable 
map1

In [139]:
#can convert it to a list, or set or a tuple
list(map1)

[4, 9, 16]

In [144]:
a = set(map1)
a

{4, 9, 16}

In [146]:
tuple(map1)

(4, 9, 16)

In [147]:
map1

In [149]:
#using range for map()


map2 = map(take_square,range(15))
list(map2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

## list conditionals

In [ ]:
sentence = 'the fall term has just started, happy new semester'

vowels = [i for i in sentence if i in 'aeiou']
vowels

In [150]:
L1 = [i for i in range(10)]
L1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
L2 = [i for i in range(5)  if i<4]
L2

[0, 1, 2, 3]

In [152]:
L3 = [x for x in range(10) if x % 2 == 0 if x>3]
L3

[4, 6, 8]

In [153]:
# map function together with lambda
L4 = list(map(lambda i: i*i, range(10)))
L4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [154]:
# normal function with conditionals
L5 = [take_square(i) for i in [1,2,3]]
L5

[1, 4, 9]

In [155]:
#map function with conditionals
f4= lambda x: [i for i in range(x)]
f4(5)

[0, 1, 2, 3, 4]

In [160]:
sum(range(5))

10

In [162]:
# Conditionals is not for only lists. Other functions can use conditionals as well
sum([i for i in range(5)])

10

In [ ]:
set(i for i in range(5))

In [ ]:
# List conditionals return the result as a list
# Map function return as a map object, hence it should be converted to a set, list, or tuple.

# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
import csv

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[0]

In [ ]:
type(mpg[0])
#An OrderedDict is a dictionary subclass that remembers the order that keys were first inserted. 
# The only difference between dict() and OrderedDict() is that:

# OrderedDict preserves the order in which the keys are inserted.
# A regular dict doesn’t track the insertion order, and 
# iterating it gives the values in an arbitrary order. 
# By contrast, the order the items are inserted is remembered by OrderedDict.

In [ ]:
mpg[:3] # The first three dictionaries in our list.

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. 

`len` shows that our list is comprised of 234 dictionaries.

In [ ]:
len(mpg)

<br>
`keys` gives us the column names of our csv.

In [ ]:
mpg[0].keys()

In [ ]:
mpg[2].keys()

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [ ]:
for d in mpg: # d becomes the string in the list at each iteration. 
    print(d['manufacturer'])
    print(d['cty'])

In [ ]:
float(d['cty']) for d in mpg
# does not mean anything
# however...

In [ ]:
sum(float(d['cty']) for d in mpg) / len(mpg)

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [ ]:
cylinders = set(d['cyl'] for d in mpg) 
cylinders #please check its difference with a list

In [ ]:
list(d['cyl'] for d in mpg)

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

Silindirlerine gore sehirici ne kadar yakit yakiyor?

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches, {4,5,6,8}
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

In [ ]:
CtyMpgByCyl

In [ ]:
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [ ]:
CtyMpgByCyl.sort(key=lambda x: x[1]*int(x[0]))
CtyMpgByCyl

<br>
Use `set` to return the unique values for the class types in our dataset.

In [ ]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

### The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()
today

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [ ]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [ ]:
tuple(cheapest)

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list